$bodyBCG: #0a0c26;
$baseCLR: #f8f6fa;
$clrTXT: #f5e8f3;
$btnBCK: linear-gradient(97.62deg, #eb11aa -15.99%, #2e81e2 104.3%);
$circleBCG: linear-gradient(
  89.96deg,
  #cb47a0 0.02%,
  #6947cb 49.47%,
  #00ff85 99.97%
);
$gray: rgba(46, 47, 64, 0.3);
$white: #fff;
$clr1: linear-gradient(
  89.96deg,
  rgba(203, 71, 160, 0.2) 0.02%,
  rgba(105, 71, 203, 0.2) 49.47%,
  rgba(0, 255, 133, 0.2) 99.97%
);
$clr2: #d5ecff;
$clr3: #9dbfff;
$clr4: #09f5c4;
$blurCLR: #cb47a0;
$blurCLR2: #00ff85;
