$bodyBCG: #0A0C26;
$baseCLR: #F8F6FA;
$clrTXT:#F5E8F3;
$btnBCK:linear-gradient(97.62deg, #EB11AA -15.99%, #2E81E2 104.3%);
$circleBCG:linear-gradient(89.96deg, #CB47A0 0.02%, #6947CB 49.47%, #00FF85 99.97%);
$gray: rgba(46, 47, 64, 0.3);
$white:#fff;
$clr1:linear-gradient(89.96deg, rgba(203, 71, 160, 0.2) 0.02%, rgba(105, 71, 203, 0.2) 49.47%, rgba(0, 255, 133, 0.2) 99.97%);
$clr2: #D5ECFF;
$clr3:#9DBFFF;
$blurCLR:#CB47A0;
$blurCLR2:#00FF85;