@mixin text ($fst,$fw,$fs,$lh,$cl) {
    font-style: $fst;
    font-weight: $fw;
    font-size: $fs;
    line-height: $lh;
    color: $cl;
}

@mixin customFlex () {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@mixin button ($pd,$bck,$br,$ta,$wi) {
    padding: $pd;
    background: $bck;
    border-radius: $br;
    text-align: $ta;
    width: $wi;
}

@mixin blur ($wi,$he,$br,$bcg,$fil,$pos) {
    width: $wi;
    height: $he;
    border-radius: $br;
    background: $bcg;
    filter: $fil;
    position: $pos;
}