section.advantage 
    div.container 
        div.shell 
            div.advantage__content 
                h2.title We made great NFT for you
                p.subtitle Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                div.btn__content 
                    a.btn.active(href="#") SEE MORE
            div.advantage__cards
                div.card__item
                        include icons/icon-1
                        h3.card__title Best collection
                        p.card__subtitle Amet minim mollit non deserunt ullamco est sit  <br> aliqua dolor do amet sint. Velit officia consequat <br>  duis enim velit mollit.
                div.card__item
                        include icons/icon-2
                        h3.card__title List Theame
                        p.card__subtitle Amet minim mollit non deserunt ullamco est sit  <br> aliqua dolor do amet sint. Velit officia consequat <br>  duis enim velit mollit.
                div.card__item
                        include icons/icon-3
                        h3.card__title Great Artist
                        p.card__subtitle Amet minim mollit non deserunt ullamco est sit  <br> aliqua dolor do amet sint. Velit officia consequat <br>  duis enim velit mollit.
                div.card__item
                        include icons/icon-4
                        h3.card__title Coian Excange
                        p.card__subtitle Amet minim mollit non deserunt ullamco est sit  <br> aliqua dolor do amet sint. Velit officia consequat <br>  duis enim velit mollit.
        

