section.artist 
    div.container 
        div.title.coll__content Our Top NFT Artist
        div.catalog 
            div.slider__item
                img.img__slider(src="./assets/images/artist/art-1.png", alt="img") 
                img.img__man(src="./assets/images/artist/man-1.png", alt="img") 
            div.slider__item 
                img.img__slider(src="./assets/images/artist/art-2.png", alt="img")
                img.img__man(src="./assets/images/artist/man-2.png", alt="img") 
            div.slider__item 
                img.img__slider(src="./assets/images/artist/art-3.png", alt="img")
                img.img__man(src="./assets/images/artist/man-3.png", alt="img") 