section.artist 
    div.container 
        div.title.coll__content Our Top NFT Artist
        div.catalog 
            div.slider__item
                img.img__slider(src="./assets/images/artist/art-1.png", alt="img") 
                img.img__man(src="./assets/images/artist/man-1.png", alt="img") 
                div.text__item
                    h2.text__title Jane Cooper
                    p.text__subtitle Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 
                    a.text__btn(href="#") Follow
            div.slider__item 
                img.img__slider(src="./assets/images/artist/art-2.png", alt="img")
                img.img__man(src="./assets/images/artist/man-2.png", alt="img") 
                div.text__item
                    h2.text__title Wade Warren
                    p.text__subtitle Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 
                    a.text__btn(href="#") Follow
            div.slider__item 
                img.img__slider(src="./assets/images/artist/art-3.png", alt="img")
                img.img__man(src="./assets/images/artist/man-3.png", alt="img") 
                div.text__item
                    h2.text__title Robert Fox
                    p.text__subtitle Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. 
                    a.text__btn(href="#") Follow