section.collection 
    div.container 
        div.title.coll__content Special NFT item for you
        div.nav__collection 
            a.coll__link(href="#") All Collection
            a.coll__link(href="#") Art 
            a.coll__link(href="#") Music
            a.coll__link(href="#") Games
            a.coll__link(href="#") Photography