section.collection 
    div.container 
        div.title.coll__content Special NFT item for you
        div.nav__collection 
            a.coll__link(href="#") All Collection
            a.coll__link(href="#") Art 
            a.coll__link(href="#") Music
            a.coll__link(href="#") Games
            a.coll__link(href="#") Photography
        div.catalog 
            div.slider 
                img.img__slider(src="./assets/images/collection/coll-1.png", alt="img")
                div.slider__content 
                    div.text
                        div.slider__title Post Malone
                        div.slider__subtitle by Pdart
                    a.slider__btn(href="#") Bild
            div.slider 
                img.img__slider(src="./assets/images/collection/coll-2.png", alt="img")
                div.slider__content 
                    div.text
                        div.slider__title Kendrick Lamar 
                        div.slider__subtitle by Pdart
                    a.slider__btn(href="#") Bild
            div.slider 
                img.img__slider(src="./assets/images/collection/coll-3.png", alt="img")
                div.slider__content
                    div.text 
                        div.slider__title Eminem Flower
                        div.slider__subtitle by Pdart
                    a.slider__btn(href="#") Bild
