section.creat 
    div.container 
        div.creat__content 
            div.title.coll__content Creat Your NFT
            p.subtitle Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis <br> enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
            a.text__btn.creat__btn(href="#") Bild now 
        div.ellipses 
            img.el__1(src="./assets/images/creat/elps-1.png", alt="img")
            img.el__2(src="./assets/images/creat/elps-2.png", alt="img")
            img.el__3(src="./assets/images/creat/elps-3.png", alt="img")
            img.el__4(src="./assets/images/creat/elps-4.png", alt="img")
            img.el__5(src="./assets/images/creat/elps-5.png", alt="img")
            img.el__6(src="./assets/images/creat/elps-6.png", alt="img")
            img.el__7(src="./assets/images/creat/elps-7.png", alt="img")