footer 
    nav 
        ul.footer__nav.nav 
                li.nav__inner 
                    a.nav__links(href="#") Home 
                li.nav__inner  
                    a.nav__links(href="#") Feature
                li.nav__inner  
                    a.nav__links(href="#") Blog
                li.nav__inner 
                    a.nav__links(href="#") Pricing
                li.nav__inner  
                    a.nav__links(href="#") Testimonial
        