section.gallery 
    div.container 
        div.blur__one
        div.blur__two
        div.gallery__shell 
            div.gallery__images
                img(src="./assets/images/gallery/one-pic.png", alt="img")
                img(src="./assets/images/gallery/two-pic.png", alt="img") 
                img(src="./assets/images/gallery/three-pic.png", alt="img") 
                img(src="./assets/images/gallery/foure-pic.png", alt="img")  
            div.gallery__content 
                h2.gallery__title We give the best quality NFT For you
                p.subtitle    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.  
                div.btn__content 
                    a.btn.active(href="#") SEE MORE
