section.gallery 
    div.container 
        div.gallery__shell 
            div.gallery__images
                img(src="./assets/images/gallery/one-pic.png", alt="img")
                img(src="./assets/images/gallery/two-pic.png", alt="img") 
                img(src="./assets/images/gallery/three-pic.png", alt="img") 
                img(src="./assets/images/gallery/foure-pic.png", alt="img")  

