header 
    div.container 
        div.header__logo
            img.logo__img(src="./assets/images/logo/logo.png", alt="logo")
        nav 
            ul.header__nav.nav 
                li.nav__item 
                    a.nav__link.active(href="#") Home 
                li.nav__item 
                    a.nav__link.active(href="#") Feature
                li.nav__item 
                    a.nav__link.active(href="#") Product
                li.nav__item 
                    a.nav__link.active(href="#") Contact
                li.nav__item 
                    a.nav__link.nav__btn(href="#") Bild now                   