header 
    div.container.header__content
        div.header__logo
            img.logo__img(src="./assets/images/logo/logo.png", alt="logo")
            h2.header__title Base
        nav 
            ul.header__nav.nav 
                li.nav__item 
                    a.nav__link(href="#") Home 
                li.nav__item 
                    a.nav__link(href="#") Feature
                li.nav__item 
                    a.nav__link(href="#") Product
                li.nav__item 
                    a.nav__link(href="#") Contact
                li.nav__item 
                    a.nav__btn(href="#") Bild now                   