section.hero 
    div.container.hero__section 
        div.hero__content 
            h2.hero__title  The beauty of every NFT
            p.hero__subtitle Art does not exist only to entertain, but also to challenge one to think, to provoke, even to disturb
            div.hero__btn 
                a.btn.active(href="#") BILD NOW
                a.btn(href="#") LEARN MORE
    