section.hero 
    div.container.hero__section 
        div.hero__shell
            div.hero__content 
                h2.hero__title  The beauty of every NFT
                p.hero__subtitle Art does not exist only to entertain, but also to challenge one to think, to provoke, even to disturb
                div.hero__btn 
                    a.btn.active(href="#") BILD NOW
                    a.btn(href="#") LEARN MORE
            div.hero__information 
                div.info__item 
                    p.item__text Current Bil 
                    h3.item__title 5.00 ETH 
                    p.item__subtitle $11, 373.55
                div.info__inner
                    div.inner 
                        h3.inner__title 16
                        p.inner__subtitle Hours
                    div.inner 
                        h3.inner__title 30
                        p.inner__subtitle Minute
                    div.inner 
                        h3.inner__title 60
                        p.inner__subtitle Secund 

    