section.info 
    div.info__content 
        div.content 
            h2.text__info 1099k+
            p.subtext__info Art Work

        div.content 
            h2.text__info 399k+
            p.subtext__info Aucation

        div.content 
            h2.text__info 99k+
            p.subtext__info Aucation
