section.sponsors 
    div.container.sponsors__content 
        div.blur__three
        div.blur__foure
        div.sponsors__item 
            img.spon__img(src="./assets/images/sponsors/ucraft.png", alt="img", height="42px")
            img.spon__img-1(src="./assets/images/sponsors/logitech.png", alt="img", height="42px")
            img.spon__img-1(src="./assets/images/sponsors/chopped.png", alt="img", height="33px")
            img.spon__img(src="./assets/images/sponsors/illision.png", alt="img", height="37px")
