.creat {
  margin: 150px 0 120px 0;
  text-align: center;
  position: relative;
}

.creat__content {
  z-index: 2;
  position: relative;
}

.creat__btn {
  margin-top: 50px;
}

.el__1 {
  width: 74px;
  height: 74px;
  position: absolute;
  top: 65px;
  left: 720px;
}

.el__2 {
  width: 147px;
  height: 147px;
  position: absolute;
  top: 30px;
  left: 684px;
}

.el__3 {
  width: 203px;
  height: 203px;
  position: absolute;
  top: 0px;
  left: 655px;
}

.el__4 {
  width: 246px;
  height: 246px;
  position: absolute;
  bottom: 15px;
  left: 634px;
}

.el__5 {
  width: 295px;
  height: 295px;
  position: absolute;
  top: -45px;
  left: 610px;
}

.el__6 {
  width: 346px;
  height: 346px;
  position: absolute;
  top: -70px;
  left: 585px;
}

.el__7 {
  width: 400px;
  height: 400px;
  position: absolute;
  top: -95px;
  left: 555px;
}
