.sponsors {
  margin-top: 130px;
  background: $circleBCG;
  position: relative;
}

.sponsors__content {
  padding: 91px 50px 91px 50px;
}

.sponsors__item {
  @include customFlex;
  align-items: center;
}

.spon__img,
.spon__img-1 {
  width: 140px;
}

.spon__img-1 {
  margin-top: 20px;
}

.blur__three {
  @include blur(550px, 550px, 100%, $blurCLR, blur(472px), absolute);
  top: -100px;
  left: -400px;
}

.blur__foure {
  @include blur(450px, 450px, 100%, $blurCLR2, blur(472px), absolute);
  right: -400px;
  top: -50px;
}
