svg.svg__4(width='942' height='889' viewbox='0 0 942 889' fill='none' xmlns='http://www.w3.org/2000/svg')
  path(opacity='0.1' d='M942 423.5C942 680.589 731.126 889 471 889C210.874 889 0 680.589 0 423.5C0 166.411 210.874 -42 471 -42C731.126 -42 942 166.411 942 423.5ZM24.5016 423.5C24.5016 667.215 224.406 864.785 471 864.785C717.594 864.785 917.498 667.215 917.498 423.5C917.498 179.785 717.594 -17.7845 471 -17.7845C224.406 -17.7845 24.5016 179.785 24.5016 423.5Z' fill='url(#paint0_linear_39_223)' fill-opacity='0.4')
  defs
    lineargradient#paint0_linear_39_223(x1='1.28319e-06' y1='583.368' x2='942.1' y2='582.76' gradientunits='userSpaceOnUse')
      stop(stop-color='#CB47A0')
      stop(offset='0.494792' stop-color='#6947CB')
      stop(offset='1' stop-color='#00FF85')